name: ci

on:
  push:
    branches: ["main"]

env:
  REGISTRY: registry.reli.id
  IMAGE_NAME: registry.reli.id/library/rmv
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}

jobs:
  build-push-artifact:
    runs-on: ubuntu-latest
    steps:
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Google Artifact Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: reli-id
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          build-args: ENV_BASE_64=${{ secrets.ENV_BASE_64 }}
          tags: ${{ env.IMAGE_NAME }}:${{ env.BRANCH_NAME }}-${{ github.sha }}-${{ github.run_number }}

